
body{
    background-color:rgb(24, 25, 26);
    height: 1000px;
}
/* part 1 Navbar  */
.row{
    width:100%;
    padding: 0rem;
    --bs-gutter-x:0rem;
}
.navbar{
    color:rgb(228, 230, 235);
    background-color: rgb(36, 37, 38);
    height: 3.5rem;
    position: sticky;
    z-index: 5;
    top:0;
    left:0;
    border-bottom: 1px solid rgb(58, 59, 60);
}
.logo{
    margin-top: -1.5rem;
}
li{
    list-style-type: none;
}
.navbar-brand{
    margin-left: 0px;
}
.navbar-brand img{
    width: 100%;
    height: 2.5rem;
    margin:3px 0px 0px 0px;
}
.search{
    border-radius: 50%;
    height: 3.5rem;
    position: relative;
    width: 15.9375rem;
    padding: 0.4375rem 0.5rem 0.4375rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.search i{
    position: absolute;
    top:1.25rem;
    left:0.1875rem;
    color: rgb(176, 179, 184);
    font-size: 0.875rem;
    font-weight: 600;
    font-style: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1rem;
}
.search i:focus-within{
    position: absolute;
    top:1.25rem;
    left:0.1875rem;
    display: none;
}
.form-control{
    background-color: rgb(58, 59, 60);
    border: #000;
    padding: 0px;
    margin: 0px -0.9375rem 0px;
    color: rgb(176, 179, 184);
    border-radius: 1.25rem;
    font-size: 0.9375rem;
    letter-spacing: normal;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    padding: 0px 1.875rem 0px;
}
.form-control:focus{
    background-color: rgb(58, 59, 60);
    border: #000;
    color: rgb(228, 230, 235);
    box-shadow: none;
}
/* part 2 Navbar */
.nav-items{
    width: 70%;
    float:left;
    margin-top:-0.9375rem;
    height: 100%;
    padding: 0px;
    margin-left: 3.125rem;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-evenly;
}
.nav-item{
    text-align: center;
}
.nav-item a i{
    color:rgb(176, 179, 184);
    font-size: 1.375rem;
    padding:0.75rem 2.5rem 0.75rem 2.5rem;
    border:1px solid transparent;
}
.nav-item a i:hover{
    border:1px solid transparent;
    background-color: rgb(58, 59, 60);
    border-bottom: 1px solid rgb(35, 116, 225);
    border-radius: 0.375rem;
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    -ms-border-radius: 0.375rem;
    -o-border-radius: 0.375rem;
    color:rgb(35, 116, 225);
}
.nav-item a.active i{
    border-bottom: 3px solid rgb(35, 116, 225);
    color:rgb(35, 116, 225);
}
/* part 3 Navbar */
.last-navs .list-items{
    margin-top: 0px;
}
.list-item{
    margin-top: -0.3125rem;
    margin-bottom: 0.9375rem;
    background-color: rgb(58, 59, 60);
    width:2.5rem;
    height: 2.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.list-item img{
    width:2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.list-item i{
    border-radius: 50%;
    display: inline-block;
    color: rgb(228, 230, 235);
    font-size: 1.0625rem;
    margin:0.6875rem 0px 0px 0px;
    padding-left: 0.6875rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;   
}
.list-item:hover{
    background-color:rgba(255, 255, 255, 0.1);
}
.list-item i.padd{ 
    padding-left: 0.5625rem;
}
/* Header - left list */
header{
    margin-top: -55px;
}
.notifi{
    width:37%;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(36,37,38);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.notifi .heading{
    color:rgb(228,230,235);
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 4px;
}
.notifi span i.ellips{
    height: 36px;
    color:rgb(176, 179, 184);
    width:36px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 90px;
    text-align: center;
    padding-top: 10px;
}
.notifi span i.ellips:hover{
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.btn{
    margin-left: 12px;
    margin-top: 6px;
    font-weight: 600;
}
button.btn-primary{
    background-color:rgb(45, 136, 255,0.2);
    border: rgb(45, 136, 255,0.2);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color:rgb(45, 136, 255);
    font-size: 15px;
}
button.btn-primary:hover{
    background-color:rgb(45, 136, 255,0.1);
    border: rgb(45, 136, 255,0.1);
}
button.btn-secondary{
    background-color: transparent;
    border: transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color:rgb(228, 230, 238);
    font-size: 15px;
}
.note span{
    line-height: 19.99995px;
    padding: 0px 0px;
    font-size: 15px;
}
.note p{
    line-height: 19.99995px;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 13px;
    font-weight: 400;
}
.notify{
    position: relative;
    margin: 10px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.notify:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.notifi h4{
    font-size: 17px;
    font-weight: 600;
    color:#E4E6EB;
    padding-top: 10px;
    padding-left: 14px;
}
img.note-own{
    width: 56px;
    height: 56px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.react{
    width:28px;
    height: 28px;
    position: absolute;
    top:35px;
    left:40px;
}
/* The End */
@media screen and (max-width: 576px) {
    .navbar{
        height: 7rem;
    }
    .logo{
        margin-top: -0.4375rem;
    }
    .navbar-brand{
        display: none;
        margin-left: 0px;
    }
    .navbar-brand img{
        width: 100%;
        height: 2.5rem;
        margin:3px 0px 0px 0px;
    }
    .search{
        width: 22rem;
        padding: 0.4375rem 0.5rem 0.4375rem;
        margin-left:4rem;
    }
    .search i{
        top:1.25rem;
        left:0.1875rem;
    }
    .search i:focus-within{
        top:1.25rem;
        left:1rem;
    }
    .form-control{
        padding: 0px;
        margin: 0px -0.9375rem 0px;
        padding: 0px 1.875rem 0px;
    }
    .list-items .list-item:nth-child(4){
        width: 10%;
        position: absolute;
        top: 1rem;
        left: 0rem;
    }
    .list-items .list-item:nth-child(4):hover{
        background-color: transparent;
        position: absolute;
        top: 1rem;
        left: 0rem;
    }
    /* part 2 Navbar */
    .nav-items{
        width: 100%;
        margin-top:0.1rem;
        padding: 0px;
        margin-left: 0rem;
    }
    .nav-item{
        width:33.3%;
        text-align: center;
    }
    .nav-item a i{
        padding:0.5rem 1rem;
        font-size: 1.0625rem;
    }
    .nav-items .nav-item:nth-child(4){
        display: none;
    }
    .nav-item a i:hover{
        background-color: rgb(58, 59, 60);
        border-bottom: 0.1875rem solid transparent;
    }
    /* part 3 Navbar */
    ul{
        padding: 0;
    }
    .main-navs{
        padding-bottom: 0px;
    }
    .last-navs .list-items{
        margin-top: -0.1rem;
    }
    .list-item{
        width:33.3%;
        text-align: center;
        margin-top: -0.3125rem;
        margin-bottom: 0rem;
        background-color: transparent;
        height: 2.5rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
    }
    .list-item:hover{
        background-color: rgb(58, 59, 60);
        border-radius: 0.375rem;
        -webkit-border-radius: 0.375rem;
        -moz-border-radius: 0.375rem;
        -ms-border-radius: 0.375rem;
        -o-border-radius: 0.375rem;
        border-bottom: 1px solid rgb(35, 116, 225); 
        border:1px solid transparent;
    }
    .list-item a i{
        font-size: 1.0625rem;
    }
    .list-item a i:hover{
        color:rgb(35, 116, 225);
        text-decoration: none;
    }
    .list-item a.active i{
        border-bottom: 3px solid rgb(35, 116, 225);
        color:rgb(35, 116, 225);
    }
    .list-item img{
        width:2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .list-item i{
        color:rgb(176, 179, 184);
        border-radius: 0%;
        margin:0.6875rem 0px 0px 0px;
        padding: 0rem;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
        text-align: center;
    }
    .list-items .list-item:nth-child(1){
        display: flex;
        order: 1;
        text-align: center;
        padding-left: 1rem;
    }
    .list-item i.padd{ 
        padding-left: 0rem;
    }
    header{
        margin-top: -55px;
    }
    .notifi{
        width:100%;
        margin-top: 0.25rem;
        border-radius: 0rem;
        -webkit-border-radius: 0rem;
        -moz-border-radius: 0rem;
        -ms-border-radius: 0rem;
        -o-border-radius: 0rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .navbar{
        height: 7rem;
    }
    .logo{
        margin-top: -0.4375rem;
    }
    .navbar-brand{
        display: none;
        margin-left: 0px;
    }
    .navbar-brand img{
        width: 100%;
        height: 2.5rem;
        margin:3px 0px 0px 0px;
    }
    .search{
        width: 22rem;
        padding: 0.4375rem 0.5rem 0.4375rem;
        margin-left:5rem;
        margin-top: 0.2rem;
    }
    .search i{
        top:1.25rem;
        left:0.1875rem;
    }
    .search i:focus-within{
        top:1.25rem;
        left:0.1875rem;
    }
    .form-control{
        padding: 0px;
        margin: 0px -0.9375rem 0px;
        padding: 0px 1.875rem 0px;
    }
    .list-items .list-item:nth-child(4){
        position: absolute;
        top:1rem;
        left:-2.5rem;
    }
    /* part 2 Navbar */
    .nav-items{
        width: 100%;
        margin-top:0.1rem;
        padding: 0px;
        margin-left: 0rem;
    }
    .nav-item{
        width:33.3%;
        text-align: center;
    }
    .nav-item a i{
        padding:0.5rem 1rem;
        font-size: 1.0625rem;
    }
    .nav-items .nav-item:nth-child(4){
        display: none;
    }
    .nav-item a i:hover{
        background-color: rgb(58, 59, 60);
        border-bottom: 0.1875rem solid transparent;

    }
    /* part 3 Navbar */
    ul{
        padding: 0;
    }
    .main-navs{
        padding-bottom: 0px;
    }
    .last-navs .list-items{
        margin-top: -0.1rem;
    }
    .list-item{
        width:33.3%;
        text-align: center;
        margin-top: -0.3125rem;
        margin-bottom: 0rem;
        background-color: transparent;
        height: 2.5rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
    }
    .list-item:hover{
        background-color: rgb(58, 59, 60);
        border-radius: 0.375rem;
        -webkit-border-radius: 0.375rem;
        -moz-border-radius: 0.375rem;
        -ms-border-radius: 0.375rem;
        -o-border-radius: 0.375rem;
        border-bottom: 1px solid rgb(35, 116, 225); 
        border:1px solid transparent;
    }
    .list-item a i{
        font-size: 1.0625rem;
    }
    .list-item a i:hover{
        color:rgb(35, 116, 225);
        text-decoration: none;
    }
    .list-item a.active i{
        border-bottom: 3px solid rgb(35, 116, 225);
        color:rgb(35, 116, 225);
    }
    .list-item img{
        width:2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .list-item i{
        color:rgb(176, 179, 184);
        border-radius: 0%;
        margin:0.6875rem 0px 0px 0px;
        padding: 0rem;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
        text-align: center;
    }
    .list-items .list-item:nth-child(1){
        display: flex;
        order: 1;
        text-align: center;
        padding-left: 1rem;
    }
    .list-items .list-item:nth-child(4){
        width: 10%;
        position: absolute;
        top: 1rem;
        left: 0rem;
    }
    .list-items .list-item:nth-child(4):hover{
        background-color: transparent;
    }
    .list-item i.padd{ 
        padding-left: 0rem;
    }
    .notifi{
        width:100%;
        margin-top: 0.25rem;
        border-radius: 0rem;
        -webkit-border-radius: 0rem;
        -moz-border-radius: 0rem;
        -ms-border-radius: 0rem;
        -o-border-radius: 0rem;
    }
}

/* Medium devices (tablets, 767px and up) */
@media screen and (min-width: 767px) and (max-width: 991px) {
    .navbar{
        height: 7rem;
    }
    .logo{
        margin-top: -0.4375rem;
    }
    .navbar-brand{
        display: none;
        margin-left: 0px;
    }
    .navbar-brand img{
        width: 100%;
        height: 2.5rem;
        margin:3px 0px 0px 0px;
    }
    .search{
        width:88%;
        padding: 0.4375rem 0.5rem 0.4375rem;
        margin-left:3rem;
    }
    .search i{
        top:1.25rem;
        left:0.1875rem;
    }
    .search i:focus-within{
        top:1.25rem;
        left:0.1875rem;
    }
    .form-control{
        padding: 0px;
        margin: 0px -0.9375rem 0px;
        padding: 0px 1.875rem 0px;
    }
    
    /* part 2 Navbar */
    .nav-items{
        width: 100%;
        margin-top:0.1rem;
        padding: 0px;
        margin-left: 0rem;
    }
    .nav-item{
        width:33.3%;
        text-align: center;
    }
    .nav-item a i{
        padding:0.5rem 1rem;
        font-size: 1.0625rem;
    }
    .nav-items .nav-item:nth-child(4){
        display: none;
    }
    .nav-item a i:hover{
        background-color: rgb(58, 59, 60);
        border-bottom: 0.1875rem solid transparent;

    }
    /* part 3 Navbar */
    ul{
        padding: 0;
    }
    .main-navs{
        padding-bottom: 0px;
    }
    .last-navs .list-items{
        margin-top: -0.1rem;
    }
    .list-item{
        width:33.3%;
        text-align: center;
        margin-top: -0.3125rem;
        margin-bottom: 0rem;
        background-color: transparent;
        height: 2.5rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
    }
    .list-item:hover{
        background-color: rgb(58, 59, 60);
        border-radius: 0.375rem;
        -webkit-border-radius: 0.375rem;
        -moz-border-radius: 0.375rem;
        -ms-border-radius: 0.375rem;
        -o-border-radius: 0.375rem;
        border-bottom: 1px solid rgb(35, 116, 225); 
        border:1px solid transparent;
    }
    .list-item a i{
        font-size: 1.0625rem;
    }
    .list-item a i:hover{
        color:rgb(35, 116, 225);
        text-decoration: none;
    }
    .list-item a.active i{
        border-bottom: 3px solid rgb(35, 116, 225);
        color:rgb(35, 116, 225);
    }
    .list-item img{
        width:2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .list-item i{
        color:rgb(176, 179, 184);
        border-radius: 0%;
        margin:0.6875rem 0px 0px 0px;
        padding: 0rem;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
        text-align: center;
    }
    .list-items .list-item:nth-child(1){
        display: flex;
        order: 1;
        text-align: center;
        padding-left: 1rem;
    }
    .list-items .list-item:nth-child(4){
        position: absolute;
        top:0.5rem;
        right:0rem;
        width: 10%;
        padding:0;
        margin: 0;
    }
    .list-items .list-item:nth-child(4):hover{
        position: absolute;
        top:0.5rem;
        right:0;
        background-color: transparent;
    }
    .list-item i.padd{ 
        padding-left: 2rem;
    }
    .notifi{
        width:90%;
        margin: auto;
        margin-top: 0.25rem;
        border-radius: 0rem;
        -webkit-border-radius: 0rem;
        -moz-border-radius: 0rem;
        -ms-border-radius: 0rem;
        -o-border-radius: 0rem;
    }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* The End in Media Query */
